.app {
  .pageContainer {
    padding-top: 45px;
    padding-left: 50px;
    padding-right: 50px;
    @media screen and (max-width: 1024px) {
      padding-left: 30px;
      padding-right: 30px;
    }
    @media screen and (max-width: 768px) {
      padding-left: 20px;
      padding-right: 20px;
    }
    @media screen and (max-width: 480px) {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}
